<form>
	<div class="poll-title js-title">
		<input class="js-title-input" type="text" placeholder="Poll title" autocomplete="off">
		<div class="message js-message"></div>
	</div>

	<div class="js-choices">
		<div class="choice js-choice">
			<input class="choice-input js-choice-input" type="text" class="poll-choice" placeholder="Choice 1" maxlength="150" />
		</div>
		<div class="choice js-choice">
			<input class="choice-input js-choice-input" type="text" class="poll-choice" placeholder="Choice 2" maxlength="150" />
		</div>
	</div>

	<button class="js-submit" type="submit">Create</button>
</form>

<div class="example">
	Want to see it in action? <a data-navigate="true" href="/poll/gbxqml">See an example poll!</a>
</div>

